body{
    margin: 0;
    padding: 0;
}
section{
    display: flex;
}
.top-section{
    width: 50%;
    padding-left: 10%;
    margin-top: 30px;
}
.top-section h1{
    padding-top: -50px;
}
.top-section img{
    width: 60%;
}
h1{
   font-family: 'Oswald', sans-serif;
   font-size: 40px;
}
.yello{
    color: #faab5a;
}
.button{
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    background-image: linear-gradient(red, tomato);
    text-decoration: none;
    margin-bottom: 10px;
}
.three-goal{
    display: flex; 
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;

}
.middle-text{
    margin: auto;
    text-align: center;
}
.mission{
    box-shadow: 10px 5px 10px #EDF5F6;
    padding-left: 2%;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    margin-right: 40px;
    width: 30%;
    border-radius: 10px;
}
.mission img{
    width: 70%;
}
.vission{
    box-shadow: 10px 5px 10px #FBEAEA;
    padding-left: 2%;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    margin-right: 40px;
    width: 30%;
    border-radius: 10px;
}
.vission img{
    width: 70%;
}
.goal{
    box-shadow: 10px 5px 10px #FBF0D2;
    padding-left: 2%;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    margin-right: 40px;
    width: 30%;
    border-radius: 10px;
}
.goal p{
    margin-left: 1px;
}
.goal img{
    width: 70%;
}
.developer{
    display: flex;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}
.developer img{
    width: 60%;
    margin-top: 15px;
}
.dev-text{
    padding-left: 10%;
    width: 150%;
    margin-right: 40px;
    margin-left: -250px;
    margin-top: 30px;
}

.top-sections{
    border-left: 5px solid red;
}

.developer-dev{
    display: flex;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}
.developer-dev img{
    width: 80%;
    margin-top: 15px;
}
.dev-text-text{
    padding-right: 10%;
    width: 150%;
    margin-right: 40px;
    margin-left: -250px;
    margin-top: 20px;
    padding-left: 30%;
}
.red{
    color: red;
}
footer{
    text-align: center;
    background-color: #0B0D17;
    margin-bottom: -10px;
    padding-top: 10px;
}
footer h2{
    color: white;
}
footer h4{
    color: white;
    padding-bottom: 20px;
}
.dev-s{
    background-image: url(../img/shape-1.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 6% 15%;

}
.dev-ss{
    background-image: url(../img/shape-1.png);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position: 87% 75%; 
}
.dev-sss{
    background-image: url(../img/shape-3.png);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position: 13% 2%;
}
.dev-ssss{
    background-image: url(../img/shape-3.png);
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: 32% 58%;
}
.dev-sssss{
    background-image: url(../img/shape-3.png);
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: 15% 75%;
}
